html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
}

input {
  color: #432000;
  background-color: #dce1eb;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
}
